<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listado de Categorías</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div class="container mt-4">
    <h1>Categorías</h1>
    <a th:href="@{/admin/categoria/nueva}" class="btn btn-primary mb-3">Crear nueva Categoría</a>
    <a class="btn btn-secondary mb-3" th:href="@{/}">Volver</a>

    <div th:if="${param.error}" class="alert alert-danger">
        No se puede eliminar la categoría porque tiene productos asociados.
    </div>

    <table class="table">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="cat : ${categorias}">
                <td th:text="${cat.id}"></td>
                <td th:text="${cat.nombre}"></td>
				
                <td>
                    <a th:href="@{/admin/categoria/editar/{id}(id=${cat.id})}" class="btn btn-sm btn-warning">Editar</a>
                    <a href="#" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#delete-modal" th:attr="data-id=${cat.id}, data-size=${#lists.size(cat.productos)}">Eliminar</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Modal borrar -->
<div class="modal fade" id="delete-modal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Borrar categoría</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <p>¿Estás seguro que quieres borrar esta categoría? al borrar esta categoría también borrarás todos los productos relacionados a ella</p>
				<p id="msg-cantidad-productos"> Cantidad de productos que se borrarán: </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <a id="confirm-delete-btn" href="#" class="btn btn-danger">Sí</a>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var deleteModal = document.getElementById('delete-modal');
        var confirmBtn = document.getElementById('confirm-delete-btn');

        deleteModal.addEventListener('show.bs.modal', function (event) {
            var button = event.relatedTarget;
            var id = button.getAttribute('data-id');
			var cantidadProductos = button.getAttribute('data-size');
			// Cambiar el texto del modal
			var parrafo = document.getElementById('msg-cantidad-productos');
			parrafo.textContent += cantidadProductos;
            confirmBtn.href = '/admin/categoria/borrar/' + id;
        });
    });
</script>

</body>
</html>
